body{
    background-image: url(/Frontend-Learning/Images/new-york-city.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    margin: 20px;
    
}
h1{
    background: linear-gradient(to right,blue,yellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    background: linear-gradient(to left,blue,yellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: green;
    padding: 5px;
    
}

#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: purple;
    padding: 5px;
}