body{
    background-color: black;
}
h1{
    color: white;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-left-style: double;
    border-left-width: 10px;
    border-left-color:antiquewhite;
    padding-left: 10px;
    
}
p{
    background-color: gray;
    color: white;
    font-family: "consoles",sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: dotted underline;
    font-size: 20px;
}
#p1{ 
    color: blue;
    border-style: outset;
    border-width: 5px;
    border-color:silver;
    border-radius: 10px;
    padding: 25px;
}
.odd{
    color: yellow;
}