#heading{
    color: blue;
    background-color: chartreuse;
    
}
.head{
        color: blue;
    background-color: chartreuse;
    text-decoration: underline;
}
body{
    background-color: pink;
}
button {
    color: yellow; 
    background: black;
}

.box{
    height: 50px;
    width: 50px;
    border: 2px solid red;
    margin: 5px;
    text-align: center;
    background-color: white;
}